# Jupyter
.ipynb_checkpoints/

# Anaconda
anaconda_projects/

# VS Code
.vscode/
.history/
*.code-workspace

# Pycharm
.idea/
*.iml
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

trials_diabetes_tuning/